* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    z-index: 2;
}

.text {
    width: 800px;
    font-family: $lato;
    color: $font-color;
    padding-top: 65px;
    font-size: 14px;
    line-height: 1.8;
    position: relative;
    z-index: 6;
}

.icon-menu {
    color: black;
    font-size: 60px;
    position: sticky;
    top: 0;
    left: 100%;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.button {
    border: 1px solid #999999;
    transition: 0.3s;
    background: black;
    color: $Supernova;
    font-size: 20px;
    padding: 18px 28px;
    font-weight: 550;
    width: 230px;
    margin-left: 22px;

    &:hover {
        background: $Supernova;
        color: black;
        border: 1px solid transparent;
    }
}

a {
    text-decoration: none;
    list-style: none;
}

.logan {
    font-size: 36px;
    font-family: $mont;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 130px;
    letter-spacing: -1px;
    position: relative;
    z-index: 3;
}

.pre-logan {
    position: absolute;
    font-size: 90px;
    top: 6%;
    color: #e8e8e8;
    z-index: 2;
    text-align: center;
    width: 1140px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: $mont;
}

.menu-img {
    width: 100%;
    min-height: 810px;
    position: absolute;
    display: none;
}

.cycle {
    transform: translateY(2000px);
    transition: 10s;
    border-color: black;
}

.cycle-up {
    transform: translateY(-2000px);
    transition: 10s;
    border-color: black;
}

.cycle-right {
    transform: translateX(2000px);
    transition: 5s;
    background: black;
}

.header-links {
    display: none;
}

.opacity {
    opacity: 0;
    transition: 3s;
}

.hidden {
    position: absolute;
    height: 1154px;
    opacity: 0;
    transition: 5s;
    z-index: 1;
    width: 100%;
}

.show {
    transition: 5s;
    opacity: 1;
}

@keyframes slidein {
    from {
        left: -474px;
        border-color: $Supernova;
    }

    to {
        left: 100%;
        border-color: black;
    }
}

.animation {
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: 1;
}