mixin about-item(iconName,tittle,className)
  div.about-item
    #{iconName}(name="star-half" class=className+" about-icons")
    div.about-perspective #{tittle}
    div.about-goods Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ducimus reiciendis aspernatur tempore at unde rerum
    div.about-cycle
