mixin features-column(linkClass,iconClass,tittle)
  div.features-column
    a(href="#" class=linkClass+" features-cycle")
      i(class=iconClass+ " features-icon")
    div.features-tittle #{tittle}
    div.features-subscribe Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.