doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Marvel
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700,900")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    script(src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js")
    link(href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css",rel="stylesheet")
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css")
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")