mixin news-item(img,tittle)
  div.news-item
    div.news-header
      img(src="img/news-"+img+".png", alt="", class="news-img")
      div.news-slider
        div.news-slide.left >
        div.news-slide.right >
      div.news-date 23 july 2016
      h1.news-tittle #{tittle}
      p.news-explaining by admin . in logo . 1 comment
      p.news-text Lorem ipsum is simply dummy text of the rinting and typesette industry lorem ipsum has ...
      div.news-link
        a(href="#", class="news-button") read more
