mixin portfolio-grid-item(img)
  div.portfolio-grid-item
    img(src="Img/"+img+".png", alt="")
    div.portfolio-footer
      div.portfolio-footer-tittle full width slideshow
      div.portfolio-footer-subscribe fashion
      div.portfolio-links
        a(href="#" class="portfolio-icons")
          i.fas.fa-link
        a(href="#" class="portfolio-icons")
          i.fas.fa-search