mixin service-preference(className,iconClass,tittle)
  div(class=className+" service-preference")
    i(class=iconClass)
    h1.service-tittle #{tittle}
    p.text Lorem ipsum, dolor sit amet consectetur adipisicing.