mixin team-item(img)
  div.team-item
    img(src="img/team-"+img+".png", alt="")
    div.team-footer
      div.team-name
        div.team-border Robert WIllosn
      div.team-job Web Developer
    div.team-information
      h1.logan Robber willsom
      h2.team-position Web developer
      p.team-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita non sapiente officia corrupti, id veniam aut odio soluta tempora ea, magnam consequatur, natus explicabo?
      div.team-link
        div.team-icons
          a(href="#")
            i.ion-social-twitter
          a(href="#")
            i.ion-social-linkedin
          a(href="#")
            i.ion-social-facebook
          a(href="#")
            i.ion-social-skype
          a(href="#")
            i.ion-social-instagram
          a(href="#")
            i.ion-social-apple