.about#about
  .about-decoration.figure
  img(src="img/ipad.png", alt="",class="about-phone")
  .container
    .logan this is one page logo
    .pre-logan  about
    p.text.about-text Molestie ultricies quam. Donec at sem. Praesent pretium. Maorbi quis nulla vehicula felsd	laoreet. Sed ullamcorper arcu ente. Sed tempus tempor cild Nulla vierra ultrices magnal Nam rutrum congue diam.do	eiusmod tempor incididunt ut dolore magna aliqua. Utdi eni ad minim veniam, quis nostrud exercitationconsequat.
    .about-buttons
      +about-buttons("MORE INFO")
      +about-buttons("JOIN EXPEREANCE")
    .about-features
      +about-item("ion-icon","Responsive Design","")
      +about-item("i","Awesome Features","fas fa-globe")
      +about-item("i","Powerful Security","ion-lock-combination")
    .about-impressive He`re some impressive numbers about us
    .about-statistic
      +about-information("7533","Project Complate")
      +about-information("4222","On GOing Project")
      +about-information("6980 +","Happy Client")
      +about-information("100%","Positive Feedback")
