.actions
  .actions-cycle.cycle
  .container
    a(href="#", class="actions-logo")
      img(src="img/Layer 11.png", alt="", srcset="")
    h1.actions-logan Who we are
    p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ab veritatis commodi suscipit omnis id error voluptates enim ut labore, libero repellat, minima aliquid ipsam perspiciatis in deleniti natus?
    .actions-buttons-set
      +action-buttons("More Info")
      +action-buttons("Join Expereance")
      