.actionsSecond
  .container
    h1.logan Are you impressed by our work?
    p.actionsSecond-text Duratibur commodo ras noun mauris auctor proin laoreet
    .actionsSecond-button
      a(href="#",class="actionsSecond-item") purchase now
      a(href="#",class="actionsSecond-item second") get in touch