.contact#contact
  .container
    .logan send us message
    .pre-logan contact
    form(action="",method="GET")
      .contact-container
        input.contact-name(type="text", name="name")
        .contact-field Fast Name (Required)
      .contact-container
        input.contact-name(type="text", name="lastname")
        .contact-field Last Name (Required)
      .contact-container
        input.contact-name(type="email", name="email")
        .contact-field Email Name (Required)
      .contact-container
        input.contact-name(type="text", name="subject")
        .contact-field Subject
      textarea.contact-textarea
      .contact-comment Type your massage
      button(class="contact-button",type="submit") send