.features 
  .container
    .logan we`re creative crafting with love
    .pre-logan features
    .features-distinguishing
      .features-row
        +features-column("first","ion-ios7-locked","powerful security")
        +features-column("second","ion-ios-lightbulb","creative ideas")
        +features-column("third","ion-ios7-gear-outline","powerful admin panel")
    .features-row
      +features-column("fourth","ion-ios-mic","high resolution theme")
      +features-column("fifth","ion-ios-glasses","awesome interface")
      +features-column("sixth","ion-ios-paperplane","untimade website build")
    .features-row
      +features-column("seventh","ion-android-laptop","responsive design")
      +features-column("eighth","ion-ios-bell-outline","custom content blocks")
      +features-column("nineth","ion-ios-camera-outline","trendy design")
      
      