.footer
  .container
    .footer-links
      .footer-phone
        i.ion-iphone.footer-item
      .footer-phone
        i.ion-ios-world-outline.footer-item
    .team-icons
      a(href="#")
        i.ion-social-twitter 
      a(href="#")
        i.ion-social-linkedin 
      a(href="#")
        i.ion-social-facebook 
      a(href="#")
        i.ion-social-skype 
      a(href="#")
        i.ion-social-instagram
      a(href="#")
        i.ion-social-apple
    .footer-info
      .contact-number Phone : (999) 000-111-222
      .contact-palce 123 state, South America, 205
      
