ion-icon.icon-menu(name="menu")
div.menu-img
div.header
  .container
    .header-logo
      a(href="#")
        img(src="img/log.png", alt="", srcset="")
    ul.header-menu
      li
        a(href="#slide", class="header-list") home
      li
        a(href="#service", class="header-list") Service
      li
        a(href="#about", class="header-list") about
      li
        a(href="#portfolio", class="header-list") portfolio
      li
        a(href="#team", class="header-list") page
      li
        a(href="#news", class="header-list") blog
      li
        a(href="#contact", class="header-list") contact
    div.header-links.team-icons
      a(href="#")
        i.ion-social-twitter
      a(href="#")
        i.ion-social-linkedin
      a(href="#")
        i.ion-social-facebook
      a(href="#")
        i.ion-social-skype
      

