.offer
  img(src="img/device-img1.png", alt="", class="offer-logo")
  .offer-cycle
  .container
    .offer-main
      h1.logan.main boost your website
      .pre-logan.main Responsive
      p.text-logo Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fuga sed maiores voluptate!Corporis, similique aspernatur
      ul.offer-list
        +offer-list("Responsive Design & Retina Ready.")
        +offer-list("Business Solution Any Company.")
        +offer-list("Powerful Admin Panel.")
        +offer-list("24/7 Support.")
      button.offer-button purchase
      