.portfolio-grid
  +portfolio-grid-item("two-girls")
  +portfolio-grid-item("next-girl")
  +portfolio-grid-item("Layer 3")
  +portfolio-grid-item("layer 4")
  +portfolio-grid-item("layer 5")
  +portfolio-grid-item("blog-second")
  +portfolio-grid-item("layer 6")
  +portfolio-grid-item("last-layer")