.portfolio#portfolio
  .container
    h2.logan our portfolio
    h1.pre-logan work
    .portfolio-buttons
      a(href="#",class="portfolio-item first")
        i.ion-android-apps.portfolio-icon
      +portfolio-buttons("Business")
      +portfolio-buttons("Corporate")
      +portfolio-buttons("Branding")
      +portfolio-buttons("Photography")
      
