.price
  .container
    h2.logan choose your plan
    h1.pre-logan pricing
    .price-container
      +price-item("","standard","107","price-adventages","-","-")
      +price-item("second","premium","453","price-adventages","Mobile Website And Store","-")
      +price-item("","ultimate","1253","price-adventages","Mobile Website And Store","24/7 Support")
