.service#service
  .service-cycle.cycle
  .container
    .service-wrapper
      h2.logan clean idea and unique design
      h1.pre-logan service
      .service-items
        +service-preference("first","ion-ios7-gear-outline","exellent features")
        +service-preference("second","ion-ios-camera-outline","simple & clean")
        +service-preference("third","ion-ios-briefcase-outline","exelent features")
        +service-preference("fourth","ion-ios-bell-outline","24/7 support")
      