div.slide#slide
  img(class="hidden",src="img/slide-background.jpg" alt="")
  div.slide-first.figure
  div.slide-second.figure
  img(src="img/slide-img.png", alt="",class="slide-main-img")
  div.slide-third.figure
  div.container
    h1.slide-label creative 
    div.slide-label.second and professional
    p.text Use, by you or one client, in a single end product which end users are not charged for. Use, by you or one client, in a single end product which end users are not charged for.
    button.slide-buttons contact us
    div.slide-slider
      div.slide-slider-item
      div.slide-slider-item.chosen
      div.slide-slider-item