include components/mixins
include components/head
body
  include sections/slide
  include sections/header
  include sections/about
  include sections/offer
  include sections/actions
  include sections/features
  include sections/portfolio
  include sections/portfolio-grid
  include sections/service
  include sections/price
  include sections/team
  include sections/actionsSecond
  include sections/news
  include sections/contact
  include sections/map
  include sections/footer
  include sections/law
  script(src="js/main.js")