.actions {
  background-image: url(../img/action-img.png);
  min-height: 652px;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &-cycle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border: 110px solid $Supernova;
    position: absolute;
    top: 9.5%;
    left: 59%;
    opacity: 0.2;
    z-index: 1;
  }

  .container {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    padding-top: 157px;
    justify-content: center;
  }

  &-logan {
    color: $white;
    font-size: 42px;
    font-family: $mont;
    text-transform: uppercase;
    width: 100%;
    margin-top: 63px;
    letter-spacing: 0.7px;
    font-weight: 700;
    text-align: center;
  }

  .text {
    width: 800px;
    text-align: center;
    color: #fefdfd;
    padding-top: 30px;
    letter-spacing: 1px;
    padding-left: 24px;
  }

  &-buttons-set {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-buttons {
    color: $white;
    border: 1px solid $white;
    margin: 70px 12px;
    width: 226px;
    padding: 18px 28px;
    background: transparent;

    &:hover {
      background: $Supernova;
      color: $MineShaft;
    }
  }
}