.footer {
  min-height: 235px;
  background: #212121;
  overflow: hidden;

  &-item {
    color: $white;
    font-size: 35px;
  }

  &-phone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2d2d;
    border: 1px solid #7e7f80;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    padding: 72px 94px;
  }

  .team-icons {
    margin-top: -85px;
    width: 300px;

    a {
      color: $white;

      &:hover {
        color: $Supernova;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    color: $white;
    font-family: $lato;
    padding: 20px;
  }
}