.law {
  min-height: 40px;
  background: $MineShaft;

  .container {
    color: $white;
    font-family: $lato;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
}