.offer {
  background: $DesertStorm;
  min-height: 695px;
  position: relative;
  overflow: hidden;
  background: #fafafa;
  border-top: 1px solid #d6d6d6;
  background-image: url(../img/device-lamp.png);
  background-repeat: no-repeat;
  background-position-x: 3.5%;
  z-index: 3;

  &-cycle {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    border: 77px solid $Supernova;
    z-index: 1;
    position: absolute;
    top: 26%;
    left: 51.45%;
  }

  &-logo {
    position: absolute;
    left: 49.3%;
    top: 14.8%;
    z-index: 3;
  }

  .main {
    width: 540px;
    text-align: start;
    font-size: 24px;
    margin-top: 72px;
    letter-spacing: 1.3px;
  }

  .pre-logan {
    top: 12.3%;
    left: 19.75%;
    font-size: 70px;
  }

  .text-logo {
    font-family: $lato;
    color: $font-color;
    font-size: 16px;
    width: 540px;
    line-height: 1.5;
    margin-top: 48px;
  }

  &-list {
    line-height: 2.15;
    color: $font-color;
    font-size: 16px;
    margin-top: 45px;
    font-family: $lato;
    letter-spacing: 1.2px;

    i {
      margin-right: 10px;
      font-size: 13px;
    }
  }

  &-button {
    width: 127px;
    color: $MineShaft;
    background: $Supernova;
    border: none;
    text-transform: uppercase;
    margin-top: 28px;
    font-family: $mont;
    font-size: 13px;
    font-weight: 700;
    padding: 12px;
    letter-spacing: 0.5px;
    transition: 0.3s;

    &:hover {
      background: $MineShaft;
      color: $Supernova;
    }
  }
}